.container{
    margin: 11%;
}

.buttons{
    margin:  5px;
    padding: 10px;
    background-color: rgb(30, 79, 84);
}
.calculadora{
    background-color: rgb(224, 221, 217);
}
.parrafo{
    color: aliceblue;
}
.tituloVioleta{
font-size: 40px;
    background-color: blueviolet;
}
.tituloRosa{

    font-size: 40px;
    background-color: hotpink;
}